---
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/base.njk
templateEngineOverride: njk, md
---
<section class="vf-intro | embl-grid embl-grid--has-centered-content">
    <div>
        <!-- empty -->
    </div>
    <div>
        <h1 class="vf-intro__heading vf-intro__heading--has-tag">Planetary biology <a href="JavaScript:Void(0);" class="vf-badge vf-badge--primary vf-badge--phases">beta</a></h1>
        <p class="vf-lede">EMBL is working to understand how the planet’s biological systems interact
</p>
        <p class="vf-intro__text">Planetary science is the scientific study of planets and their planetary systems which includes moons, ring systems, gas clouds, and magnetospheres. It involves understanding how planetary systems formed, how these systems work and how their components interact.
</p>
<p>“So what paragraph - Why this topic?”</p>
    </div>
</section>
<section class="embl-grid embl-grid--has-centered-content">
    <div>
        <h1 class="vf-text vf-text-heading--3">Planetary biology news</h1>
    </div>
    <div>
    <link rel="import"
      href="https://dev.content.embl.org/api/v1/pattern.html?filter-content-type=article&filter-field-value%5Bfield_article_type%5D=article_timely&filter-fields-exists=field_display_title%2Cfield_teaser%2Cfield_canonical_location&limit=2&pattern=vf-news-item-default&sort-field-value%5Bcreated%5D=DESC"
      data-target="self" data-embl-js-content-hub-loader>
      <a id="harsh" href="#" class="vf-link ">See all EMBL news</a>
    </div>
    </section>
    <h1 class="vf-text vf-text-heading--3">Other research topics </h1>
    FILTER HERE
 <section class="vf-grid | vf-grid__col-3 | vf-u-margin__bottom--xxl | vf-u-margin__top--xxl">
<div class="vf-card vf-card--topic">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Title Block
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
<div class="vf-card vf-card--topic">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Title Block
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
<div class="vf-card vf-card--topic">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Title Block
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
 </section>
  <section class="vf-grid | vf-grid__col-3 | vf-u-margin__bottom--xxl | vf-u-margin__top--xxl">
<div class="vf-card vf-card--topic">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Title Block
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
<div class="vf-card vf-card--topic">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Title Block
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
<div class="vf-card vf-card--topic">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Title Block
        </h3>
        <p class="vf-card__text">
            two lines of text
        </p>
    </div>
</div>
 </section>
 